services:
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    restart: always

  db:
    image: pgvector/pgvector:pg17  # Changed from postgres to pgvector image
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: changeme
      POSTGRES_DB: demo
    ports:
      - "5432:5432"

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"

volumes:
  redis_data: